 .homepage {
  font-family:"Montserrat", serif;
  display: flex;
  background:linear-gradient(225deg, rgb(176, 213, 232), rgb(11, 106, 173));
  background-size:cover;
  width:100%;
  height:100%;
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
