@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

 .registerpage {
  font-family:"Montserrat", serif;
  display: flex;
  background:linear-gradient(225deg, rgb(176, 213, 232), rgb(11, 106, 173));
  background-size:cover;
  width:100%;
  height:100%;
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.registercontainer {
  color:rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content:center;
  margin:auto;
  width:450px;
  height:635px;
  border-radius:20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.registercontainer h1 {
  display:flex;
  justify-content:center;
  margin-bottom:20px;
  margin-top:-10px;
  font-size:40px;
}

.registerform  {
  display:flex;
  justify-content:center;
  flex-direction: column;
  margin:0px 50px;
}

.registerlogin {
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin:0px 50px;
}

.registerlabel {
  display:flex;
  justify-content: flex-start;
}

.registerpassword, .registerusername, .registeremail {
  padding:10px;
  margin-bottom:20px;
  border:2px solid transparent;
  border-radius:8px;
  background-color: #f8f8f8;
  color: #000000;
}

.registerbutton {
  display:flex;
  justify-content: center;
  margin:10px 0px 0 0px;
  text-align:center;
  padding:7px;
  border:2px solid transparent;
  border-radius:20px;
  color:white;
  font-weight:500;
  background-color:rgb(11, 168, 131);
}

.registerbutton:hover {
  background-color:rgb(6, 152, 106);
}

.registerbutton:active {
  transform: translateY(2px);
}

.gotologinbutton {
  display:flex;
  justify-content: center;
  margin:15px 0px 0 0px;
  text-align:center;
  padding:7px;
  border:2px solid transparent;
  border-radius:20px;
  color:white;
  font-weight:500;
  background-color:rgb(11, 131, 168);}

.gotologinbutton:hover {
  background-color:rgb(6, 106, 152);
}

.gotologinbutton:active {
  transform: translateY(2px);
}

.message {
  padding:20px;
  font-weight:600;
}

.success {
  color:rgb(121, 230, 121);
}

.error {
  color:red;
}

.error_message {
  color:red;
  font-size: 13px;
  padding-top: 10px;
}
